
body{
    background-color: rgb(233, 230, 230);
   
    
}
.container{
    background-image: url(https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    text-transform: capitalize;

}
.gridcontainer{
    display: grid;
    grid-template-columns: 700px 300px 300px;
    grid-template-rows: 240px 240px;
   /* background-color: aqua;*/
    margin-top: -24px;
    gap: 12px;
    padding-top: 14px;
}
.navbar{
    display: flex;
    color: black;
    position: fixed;
    width: 1400px;
    background-color: rgb(233, 230, 230);
    border-bottom: 1px solid black;
    
}
.header{
    color: rgb(115, 61, 243);
    font-size: 55px;
    text-align: center;
    padding-top:4px;
    margin: 2px 2px;
    text-shadow: 0px 0px 6px yellow ,0px 0px 4px red;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
}
span{color: rgb(230, 22, 15);}

ul{display: flex;
    list-style: none;
}
li{padding: 4px 8px;
    margin: 2px 8px;
    color: black;
    font-weight: bold;
    font-size:22px ;
    font-family: 'Courier New', Courier, monospace;

}
li label{color: black;
    background-color: rgb(233, 230, 230);}
li:hover , label:hover{color: rgb(66, 14, 253);}



.detail{
    text-transform: capitalize;
    padding: 5px 10px;
    margin: 9px 8px;
    grid-row:1/3 ;
}
.photo{
    /*background-color: lightcoral;*/
    margin: 4px;
}
a{ text-decoration: none;}
a:hover{color: brown;}

form{
    margin-top: 8px;
    margin-left: 38px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
input{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;

}
button{
    color: white;
    background-color: rgb(47, 14, 235);
    border: 1px solid rgb(37, 70, 5);
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    width: 200px;
    padding: 8px 0px;
    margin-left: 28px;
}
label{color: white;}
button:hover{
    color: rgb(236, 165, 117);
    background-color: black;
}
.container2{
    display: grid;
    grid-template-columns: 650px 650px;
    grid-template-rows: 550px 550px;
    gap: 10px;
   /* background-color: aqua;*/
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.container2 img{
    height: 440px;
    width:490px ;
    padding: 20px;
    margin: 10px;
}
.contactus{
    height: 500px;
    width: 1400px;
    background-image: url(https://m.media-amazon.com/images/M/MV5BMjMzOWJjY2YtMzU1Ni00MWUyLTg1YWUtZTZhOGQxZjRmMmJjXkEyXkFqcGdeQXVyMjM4NjE2MjY@._V1_.jpg);
    background-repeat: no-repeat;
     
}
.contactus p{
    color: rgb(20, 20, 143);
    text-shadow: 1px 1px 0px black,0px 0px 8px yellowgreen;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 40px;
    padding-top: 160px;
}
option{color: white;
background-color: black;
font-size: 16px;}
select{color: rgb(236, 188, 188);
    background-color: blueviolet;
    font-size: 18px;}

    @media screen and (max-width:800px) {
        .navbar{
            width: auto;
        }
        li{font-size: 14px;
        padding-left: 6px;
         margin: 2px;}
.gridcontainer{
    grid-template-columns: 550px  ;
}
    .container2{grid-template-columns: 550px;}
  
    form{margin-left:100px ;} 
    button{margin-left:100px ;}   
    .photo{margin-left: 100px;}
    .container2 img{
        height: 440px;
        width:420px ;
        padding: 20px;
        margin: 10px;
    }
    .contactus{
        background-image: url(https://st1.bollywoodlife.com/wp-content/uploads/2019/07/pjimage-7-2.jpg);
        width: 450px;
        height: 450px;
      margin-left: 40px;}
    .contactus p{
        font-size: 22px;
        padding-top: 140px;
        margin-bottom: 40px;
    }
    }
